.top {
    background: blueviolet url(resources\images\flatiron_bldg.png);
}
.header {
    font-family: Helvetica;
    font-size: 70px;
    font-weight: bold;
    color: white;
    text-align: center; 
}
.nav p {
    text-align: center;
    }
.nav p a {
    font-family: Helvetica;
    font-size: 18px;
    color: white;
}
.process {
    font-family: Helvetica;
    text-align: center;
}
.process h3 {
    font-size: 23px;
    font-weight: bold;
}
.new_york {
    font-family: Helvetica;
    text-align: center;
}
.new_york h2 {
    background-image: url();
}
.new_york h3 {
    font-size: 23px;
    font-weight: bold;
}
.footer {
    font-family: Helvetica;
    font-size: 11px;
    color: white;
    background-color: dimgray;
}